# Nuxt build output
.nuxt
.output
.nitro

# Node modules
node_modules

# Logs
*.log
logs

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Cache
.cache
dist
